NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://rescuesync:CAMBIAR_PASSWORD@localhost:5432/rescuesync"
TEST_DATABASE_URL="postgresql://rescuesync:CAMBIAR_PASSWORD@localhost:5432/rescuesync_test"
